label.control-label {
  text-transform: uppercase;
  font-size: 2vh;
}


/* Computo */
div.computo { display: none; }

/* Mobiliario */
div.mobiliario { display: none; }

/* Telefonico */
div.telefonico { display: none; }

/* Vehiculo */
div.vehiculo { display: none; }

/* Medico */
div.medico { display: none; }
